.gradient-background {
  background: linear-gradient(300deg, #00bfff, #166af9, #67f0ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

/* Carousel styles */
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust depending on your needs */
  object-fit: cover;
  object-position: center;
}

.py-6 {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.section-header {
  /* Apply padding to all sides */
  padding: 1rem; /* Equivalent to p-3 */

  /* Apply padding to the bottom specifically at the medium breakpoint (md) and larger */
  @media (min-width: 768px) {
    padding-bottom: 1.5rem; /* Equivalent to pb-md-4 */
  }

  /* Center the element horizontally */
  margin-left: auto; /* Equivalent to mx-auto */
  margin-right: auto; /* Equivalent to mx-auto */

  /* Center the text within the element */
  text-align: center; /* Equivalent to text-center */
}
