@media print {
  @page {
      size: portrait;
  }

.gradient-background {
  background: radial-gradient(circle, #7bc8ff, #ffe993, #a5f6ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

/* Carousel styles */
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.py-6 {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.section-header {
  padding: 1rem;
  @media (min-width: 768px) {
    padding-bottom: 1.5rem;
  }

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Contact Page */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  z-index: 3;
  width: 80%;
  max-width: 400px;
}

body {
  font-family: "Quicksand", sans-serif; /* Update the font-family for the entire body */
}

h1,
h2,
h3,
p {
  font-family: "Quicksand", sans-serif; /* Update font for headings and paragraphs */
}

/* Add this CSS rule for elements with a specific class or ID, if needed */
.custom-class {
  font-family: "Quicksand", sans-serif;
}

/* Change color for h1 and h2 */
h1,
h2 {
  color: #1d4d9b;
}

/* Change color for h3 */
h3 {
  color: #fe9258;
}

/* Change color for h4 and h5 */
h4,
h5 {
  color: #f14a79;
}

/* Change color for paragraphs */
p {
  color: #06538a;
}

/* Change color for links */
a {
  color: #1d4d9b;
}

/* Menu background color */
#navbar-placeholder {
  background-color: #adb5df;
}

/* Menu color */
.navbar {
  color: #fe9258;
}

/* Menu link color */
.navbar a {
  color: #1d4d9b;
}

/* Menu visited link color */
.navbar a:visited {
  color: #349ae1;
}

.btn {
  color: #1d4d9b;
}

/* Change text color in cards to #1d4d9b */
.card {
  color: #1d4d9b;
}

/* Change the table color to #1d4d9b */
table {
  color: #1d4d9b;
}

/* Change card border color to #1d4d9b */
.card {
  border-color: #1d4d9b;
}

/* Change border color for elements with class 'border-dark' to #1d4d9b */
.border-dark {
  border-color: #1d4d9b;
}

/* Change text color within elements with class 'table-responsive' to #1d4d9b */
.table-responsive {
  color: #1d4d9b;
}

/* svg icon color */
.icon-square svg {
  fill: #1d4d9b;
}

/* Target the specific text element and change its color */
p.text-body-secondary {
  color: #349ae1;
}

.tutor-card img {
  cursor: pointer;
  border-radius: 10px; /* Set the border radius to 10px for rounded corners */
  transition: opacity 0.3s ease;
}

.tutor-card:hover img {
  opacity: 0.5;
}

#facility-gallery img {
  border-radius: 10px; /* Set the border radius to 10px for rounded corners */
}

/* stripe gradient animation */
.background-container {
  position: relative;
}

/* Override the default dark button color */
.btn-dark {
  background-color: #fe9258;
  border-color: #fe9258;
}

#demo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the canvas behind the content */
}

/* Additional styles for the gallery */
.gallery-item {
  position: relative;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

/* Contact Page */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  z-index: 3;
  width: 80%;
  max-width: 400px;
}

/* About Us */
/* Modal Overlay */
.tutor-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal Content */
.tutor-modal-content {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: scaleUp 0.3s ease;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Close Button */
.close {
  /* position: absolute; */
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Using the gradient background for the modal content */
.tutor-modal-content {
  background: radial-gradient(circle, #7bc8ff, #ffe993, #a5f6ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
