.gradient-background {
  background: linear-gradient(300deg, #00bfff, #166af9, #67f0ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

/* Carousel styles */
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust depending on your needs */
  object-fit: cover;
  object-position: center;
}
